body {
  background-image: url("../image/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

.logo {
  display: block;
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-top: 80px;
  text-align: center;
  color: #19a9a1;
  font-family: sans-serif;
  font-size: 30px;
}
.container {
  display: flex;
  justify-content: center;
  top: 20px;
}

.chatbot {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  height: auto;
  width: 380px;
  border-radius: 5px 5px 0 0;
}
.open-button {
  display: block;
  background-color: #19a9a1;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  width: 380px;
  border-radius: 5px 5px 5px 5px;
}
.open-button:hover {
  opacity: 1;
}
.close-button {
  background-color: #19a9a1;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: relative;
  top: 0;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

#webchat {
  position: relative;
  border: none;
  height: 400px;
  width: 100%;
}

@media screen and (min-width: 360px) and (min-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  body {
    background-image: url("../image/2.jpg");
    background-size: auto;
  }
  h1 {
    margin-top: 30px;
    font-size: 30px;
  }
}

a {
  font-size: 22px;
  font-weight: lighter;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: #19a9a1;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}
